<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <img src="/static/images/logo/f.png" alt="ProminaYou Logo" onerror="console.log('Ошибка загрузки логотипа:', this.src)">
        </div>
        <nav class="nav-container">
            <div class="nav-links">
                <a href="/">Главная</a>
                <a href="/contacts">Контакты</a>
                <a href="/reviews">Отзывы</a>
                <a href="/services">Услуги</a>
                <a href="/masters">Наши мастера</a>
                <a href="/admin">Администратор</a>
            </div>
        </nav>
    </header>
    
    <div class="section_image_container">
        <div id="section_image_de41a73e7b154889991924be7ce4648b" 
             class="section-image" 
             style="background-image: url('//m-files.cdn1.cc/lpfile/0/3/0/030d6930f204839988fb60f88981d1e5.jpeg'); 
                    background-position: 50% 50%; 
                    background-repeat: no-repeat; 
                    filter: none;">
        </div>
    </div>
    
    <main>
        <div class="content-block">
            {{ block "content" . }} {{ end }} 
        </div>
    </main>
    
    <footer>
        <p>© 2023 ProminaYou</p>
    </footer>
</body>
</html>